@model IEnumerable<CategoryDisplayResponse>

<div class="list-group">
@foreach (var category in Model)
{
  <a asp-action="Index" asp-controller="Home" asp-route-id="@category.Id" class="icon-check">
      @category.Name
      <br />
  </a>
}
</div>