@model PaginationBlogViewModel

@{
    ViewData["Title"] = "Süms";
    var columnCount = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top: 40px" class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
                <h2><span>Blog Yazıları</span></h2>
            </div>
            @foreach (var blog in Model.Blogs)
            {
                @if (columnCount != 0 && columnCount % 2 == 0)
                {
                @:</div><div class="row">
                }
                <div class="col-md-6">
                    <partial name="_BlogCard" model="blog" />
                </div>
                columnCount++;
            }

        </div>
    </div>
</div>


<div page-model="Model.PagingInfo" page-action="Index" style="display: flex; justify-content: center;"></div>


