@model BlogCardResponse
<div style="padding:50px" class="fh5co-blog animate-box">
    <div class="title text-center">
        <span class="posted-on">@DateHelper.ToStringFormat(Model.CreatedAt)</span>
        <h3><a>@Model.Title</a></h3>
        <span class="category"></span>
    </div>
    <a style="display:flex; justify-content:center">
        <img style="max-width:500px" class="img-responsive" src="~/@Model.Image" alt="">
    </a>
    <div class="blog-text text-center">
        <p>@Html.Raw(Model.Body)</p>
        <div class="mb-60"></div>
    </div>
</div>