@model BlogApp.DataTransferObjects.Requests.UpdateBlogRequest

@{
    ViewData["Title"] = "Update";
}

<h4 style="display: flex; justify-content: center;">Update Blog</h4>
<hr />
<div class="row" style="display: flex; justify-content: center;">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="Blogs" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlık</label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" id="textarea" cols="90" rows="10" class="form-control" required>İçerik</textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="image" asp-for="Image" class="control-label">Güncel Fotoğraf</label></br>
                <img style="max-width:500px; alt="blog-image" src="~/@Model.Image"/>
            </div>
            <div class="form-group">
                <label for="image" asp-for="NewImage" class="control-label">Yeni Fotoğraf</label>
                <input type="file" asp-for="NewImage" class="form-control" />
                <span asp-validation-for="NewImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kategori</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" required>
                    <option hidden="" value="" disabled selected>Lütfen kategori seçin</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" style="display: flex; justify-content: center;">Anasayfaya dön</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/summernote.js"></script>
<script>$(document).ready(function () {
        $('#textarea').summernote({
            height: ($(window).height() - 300),
            callbacks: {
                onImageUpload: function (image) {
                    uploadImage(image[0]);
                }
            }
        });

        function uploadImage(image) {
            var data = new FormData();
            data.append("file", image);
            $.ajax({
                url: '/upload-blog-image',
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "post",
                success: function (url) {
                    var image = $('<img>').attr('src', url);
                    $('#textarea').summernote("insertNode", image[0]);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    });</script>